<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>149</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A11.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>119</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>480</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>553</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>161</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.6</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>118</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>501</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>1.0</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>505</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A02.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>358</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>434</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>1.0</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>175</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A11.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>284</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.7</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>120</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>220</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>130</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>126</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>132</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>160</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.6</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>360</integer>
	</dict>
	<dict>
		<key>ID</key>
		<integer>359</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.6</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>361</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>113</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A17.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>477</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A11.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>800</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>812</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>801</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>802</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>810</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A02.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>813</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>805</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>806</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.6</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>811</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A14.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>803</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>808</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>389</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A13.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>357</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A12.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.8</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<integer>283</integer>
		<key>darkDict</key>
		<dict>
			<key>DarkBlendmaterials</key>
			<string>A16.jpg</string>
			<key>DarkBlendstyle</key>
			<string>PSMultiply100.png</string>
			<key>DarkBlendalpha</key>
			<string>0.6</string>
			<key>DarkBlendstate</key>
			<integer>0</integer>
			<key>DarkAfter</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
